@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Work+Sans&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  user-select: none;
  color: #1b1b1b;
}
body {
  background-image: url(assets/dice-32.png);
  background-color: rgb(27, 27, 27);
  margin: 0;
  padding: 0;
}
form {
  width: 100%;
}
#wrapper {
  background-color: #848484;
  border-radius: 5px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 90%;
  max-width: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
#title {
  width: 96%;
  max-height: 5em;
  text-align: center;
  font-size: 38px;
  color: #000000;
}
#info-rules {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 9px 10px 6px 10px;
  border-radius: 5px;
  border: none;
  background-color: #80008075;
  color: #fefefe;
  max-width: 50px;
  max-height: 50px;
  height: 78%;
  width: 78%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#info-rules:hover {
  background-color: #7201728d;
  transition: all 0.2s ease-in-out;
}
#info-rules:focus {
  background-color: #5200528d;
}
#playerMenu {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}
.player {
  background-color: #80008076;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
  max-width: 240px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.player input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  width: 85%;
  max-width: 200px;
  text-align: center;
}
input:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
#bottomRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}
#nmbOfGames {
  background-color: #80008075;
  padding: 5px 10px 5px 20px;
  border-radius: 5px;
  position: relative;
  min-width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
  margin-left: 15px;
}
#nmbOfDice {
  background-color: #80008075;
  padding: 5px 10px 5px 20px;
  border-radius: 5px;
  position: relative;
  min-width: 210px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
  gap: 18px;
}
.number {
  padding: 10px;
  margin-left: 32px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  max-width: 50px;
  text-align: center;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.number {
  -moz-appearance: textfield;
}
#submitBtn input {
  font-size: 16px;
  background-color: #80008075;
  padding: 13px;
  border-radius: 5px;
  position: relative;
  min-width: 240px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
  border: none;
  cursor: pointer;
}

#submitBtn input:hover {
  background-color: #7201728d;
  transition: all 0.2s ease-in-out;
}
#submitBtn input:focus {
  background-color: #5200528d;
  transition: all 0.2s ease-in-out;
}

#submitBtn {
  margin-right: 15px;
}

/*this was all index, from here it's game.php*/

#gameBoard {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#diceBoard {
  height: fit-content;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;
}
#diceBoard img {
  background-color: #fefefe;
  border-radius: 21%;
}
.playerBox {
  overflow: hidden;
  background-color: #80008076;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.diceSum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 90%;
  border-top: 1px solid #1b1b1b;
}
.lockIn {
  font-size: 16px;
  background-color: #848484;
  padding: 13px;
  border-radius: 5px;
  position: relative;
  width: 90%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
  border: none;
  cursor: pointer;
}
.lockIn:hover {
  background-color: #727272;
  transition: all 0.2s ease-in-out;
}
.lockIn:focus {
  background-color: #6a6a6a;
  transition: all 0.2s ease-in-out;
}
#rollButton {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #80008075;
  padding: 13px;
  border-radius: 5px;
  position: relative;
  width: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}
#rollButton:hover {
  background-color: #7201728d;
  transition: all 0.2s ease-in-out;
}
#rollButton:focus {
  background-color: #5200528d;
  transition: all 0.2s ease-in-out;
}
